p {
    color: rgb(19, 19, 19);
    font-size: 12pt;
    font-family: Arial;
}
h1{
    color: rgb(19,19,19);
    font-size: large;
    font-size: 16pt;
    font-family: Arial  Black;
}
h2{
    font-size:large;
    color: rgb(19,19,19);
    font-size: 14pt;
    font-family: Arial;
}
h3{
    font-size:large;
    color: rgb(19,19,19);
    font-size: 12pt;
    font-family: Arial;
}
Body{
    background-color:rgb(60, 186, 203);
    
}
header{
    background-color:rgb(250, 249, 251);
    text-align: center;
    
}

